<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sjfalken.wellnesstracker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Wellness Tracker"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service
                android:name=".MediaService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".BackupService"
                android:enabled="true"
                android:exported="true">
        </service>

        <receiver
                android:name=".ReminderReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>
        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <service
                android:name=".BellService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".TimerService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>